@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #FCFCFC;
  scroll-snap-type: y mandatory;
}
@media (max-width: 337px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 338px) and (max-width: 380px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 381px) and (max-width: 574px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 575px) and (max-width: 690px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 691px) and (max-width: 899px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1101px) and (max-width: 1400px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1401px) {
  html {
    font-size: 20px;
  }
}

.body {
  margin: 0;
  padding: 0;
}
.body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

audio {
  max-width: 100%;
}
@media (max-width: 337px) {
  audio {
    transform: scale(80%);
  }
}

@media (max-width: 338px) {
  .section-title, .section-title-right, .section-title-left, .section-title-left-embedded, .section-title-center {
    display: flex !important;
    justify-content: center;
    text-align: center;
  }
}
@media (min-width: 339px) {
  .section-title, .section-title-right, .section-title-left, .section-title-left-embedded, .section-title-center {
    display: grid;
  }
}

.section-title-center {
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 20px;
  max-width: 100%;
}
.section-title-center h3, .section-title-center h4, .section-title-center h5, .section-title-center h6 {
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  .section-title-center h3, .section-title-center h4, .section-title-center h5, .section-title-center h6 {
    grid-column: 1/13;
    column-gap: 0px;
  }
}
@media (min-width: 851px) {
  .section-title-center h3, .section-title-center h4, .section-title-center h5, .section-title-center h6 {
    grid-column: 3/7;
  }
}

.section-title-left-embedded {
  margin-bottom: 1rem;
}
@media (max-width: 819px) {
  .section-title-left-embedded {
    text-align: center;
  }
}

.section-title-left {
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  column-gap: 20px;
}
.section-title-left h3, .section-title-left h4, .section-title-left h5, .section-title-left h6 {
  margin-bottom: 1rem;
}
@media (max-width: 819px) {
  .section-title-left h3, .section-title-left h4, .section-title-left h5, .section-title-left h6 {
    grid-column: 1/17;
    text-align: center;
  }
}
@media (min-width: 820px) {
  .section-title-left h3, .section-title-left h4, .section-title-left h5, .section-title-left h6 {
    grid-column: 2/17;
    text-align: left;
  }
}

.section-title-right {
  text-align: right;
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  column-gap: 20px;
}
.section-title-right h3, .section-title-right h4, .section-title-right h5, .section-title-right h6 {
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  .section-title-right h3, .section-title-right h4, .section-title-right h5, .section-title-right h6 {
    grid-column: 1/13;
  }
}
@media (min-width: 851px) {
  .section-title-right h3, .section-title-right h4, .section-title-right h5, .section-title-right h6 {
    grid-column: 8/15;
  }
}

h1 {
  font-family: "Source Sans", sans-serif;
  font-weight: bold;
}

.item-title {
  color: #ffd100;
  padding-bottom: 0;
}

.row-container {
  display: flex;
  justify-content: center;
}

.row {
  width: 100%;
  max-width: 100%;
}
.row a, .row a:visited, .row a:hover {
  font-weight: bold;
}

section {
  scroll-margin-top: 50px;
}
section img {
  border-radius: 0.5rem;
}
section img.logo {
  border-radius: 0;
}
section video, section .yt-iframe {
  border-radius: 0.5rem;
}
section .yt-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
section .yt-iframe-wrapper .yt-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section .row-container {
  display: block;
  width: 100%;
}
section .left-title {
  margin-bottom: 0;
}
@media (max-width: 850px) {
  section .left-title {
    grid-column: 1/17;
  }
}
@media (min-width: 851px) {
  section .left-title {
    grid-column: 3/12;
  }
}
section .right-title {
  text-align: right;
  height: 1.2rem;
  margin-bottom: 0;
}
@media (max-width: 850px) {
  section .right-title {
    text-align: left;
    grid-column: 1/13;
    margin-top: 1rem;
  }
}
@media (min-width: 851px) {
  section .right-title {
    grid-column: 8/15;
  }
}
@media (max-width: 767px) {
  section .left-text {
    grid-column: 1/17;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  section .left-text {
    grid-column: 1/17;
    text-align: center;
  }
}
@media (min-width: 851px) and (max-width: 1100px) {
  section .left-text {
    grid-column: 2/12;
  }
}
@media (min-width: 1101px) {
  section .left-text {
    grid-column: 3/12;
  }
}
section .left-text h3 {
  margin-bottom: 0.5rem;
}
section .left-text p {
  margin-bottom: 0.8rem;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

p {
  font-size: 1.25em;
}

.small {
  font-size: 0.8em;
}

.nano {
  font-size: 0.64em;
}

ul {
  text-align: left;
  list-style: disc;
  font-size: inherit;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 819px) {
  ul {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
ul li {
  margin-left: 1rem;
  font-size: inherit;
}

form input[type=password], form input[type=email], form input[type=text], form select {
  background: #fff;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.4rem;
}
form input[type=password]:last-child, form input[type=email]:last-child, form input[type=text]:last-child, form select:last-child {
  margin-bottom: 0;
}
form textarea {
  padding: 0.5rem;
  border-radius: 10px;
  resize: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.btn-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn, .btn-nano, .btn-sm {
  padding: 0.5rem 1.3em;
  border-radius: 0.3rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  text-align: center;
  transition: all 0.2s ease;
}
.btn:hover, .btn-nano:hover, .btn-sm:hover {
  font-weight: 600;
  cursor: pointer;
}
.btn-regular {
  border: 1px solid #ffd100;
  color: #ffd100;
}
.btn-regular:hover {
  background: #ffd100;
  color: #FCFCFC;
  border: 1px solid #ffd100;
}
.btn-primary {
  border: 1px solid #ffd100;
  background: #ffd100;
  color: #FCFCFC;
}
.btn-primary:hover {
  border: 1px solid #ffd61a;
  background: #ffd61a;
}

.btn-sm {
  padding: 0.2rem 0.8rem;
}

.btn-nano {
  padding: 0.2rem 0.7rem;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.visibilityHidden {
  visibility: hidden !important;
}

.displayNone {
  display: none !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.snap {
  scroll-snap-align: start;
  scroll-margin-top: 51px;
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .container {
    max-width: 550px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 575px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-wide {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199px) {
  .container-wide {
    max-width: calc(100vw - 20px);
  }
}
@media (min-width: 1200px) {
  .container-wide {
    max-width: 1500px;
  }
}

.container-full {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 20px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 20px;
  width: 100%;
}
@media (max-width: 337px) {
  .grid {
    column-gap: 0px;
  }
}
.grid-responsive {
  display: grid;
}
@media (max-width: 690px) {
  .grid-responsive {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 691px) {
  .grid-responsive {
    grid-template-columns: repeat(12, 1fr);
  }
}
.grid .right-grid-img img {
  width: 100%;
}
@media (max-width: 819px) {
  .grid .right-grid-img {
    text-align: left;
    grid-column: 1/17;
    margin: 1em auto;
  }
}
@media (min-width: 820px) {
  .grid .right-grid-img {
    grid-column: 11/16;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  width: 100%;
}
@media (max-width: 337px) {
  .grid-2 {
    column-gap: 0px;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  width: 100%;
}
@media (max-width: 337px) {
  .grid-3 {
    column-gap: 0px;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  width: 100%;
}
@media (max-width: 337px) {
  .grid-4 {
    column-gap: 0px;
  }
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  width: 100%;
}
@media (max-width: 337px) {
  .grid-5 {
    column-gap: 0px;
  }
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  width: 100%;
}
@media (max-width: 337px) {
  .grid-6 {
    column-gap: 0px;
  }
}

.grid .block p, .grid-2 .block p, .grid-3 .block p, .grid-4 .block p, .grid-5 .block p, .grid-6 .block p {
  line-height: 1.7rem;
  margin-bottom: 0.7rem;
}
.grid .block img, .grid-2 .block img, .grid-3 .block img, .grid-4 .block img, .grid-5 .block img, .grid-6 .block img {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.grid .block .yt-iframe-wrapper, .grid-2 .block .yt-iframe-wrapper, .grid-3 .block .yt-iframe-wrapper, .grid-4 .block .yt-iframe-wrapper, .grid-5 .block .yt-iframe-wrapper, .grid-6 .block .yt-iframe-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 819px) {
  .grid .block-full, .grid-2 .block-full, .grid-3 .block-full, .grid-4 .block-full, .grid-5 .block-full, .grid-6 .block-full {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .block-full, .grid-2 .block-full, .grid-3 .block-full, .grid-4 .block-full, .grid-5 .block-full, .grid-6 .block-full {
    grid-column: 1/17;
  }
}
@media (max-width: 819px) {
  .grid .centerBlock-xxs, .grid-2 .centerBlock-xxs, .grid-3 .centerBlock-xxs, .grid-4 .centerBlock-xxs, .grid-5 .centerBlock-xxs, .grid-6 .centerBlock-xxs {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .centerBlock-xxs, .grid-2 .centerBlock-xxs, .grid-3 .centerBlock-xxs, .grid-4 .centerBlock-xxs, .grid-5 .centerBlock-xxs, .grid-6 .centerBlock-xxs {
    grid-column: 7/11;
  }
}
@media (max-width: 819px) {
  .grid .centerBlock-xs, .grid-2 .centerBlock-xs, .grid-3 .centerBlock-xs, .grid-4 .centerBlock-xs, .grid-5 .centerBlock-xs, .grid-6 .centerBlock-xs {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .centerBlock-xs, .grid-2 .centerBlock-xs, .grid-3 .centerBlock-xs, .grid-4 .centerBlock-xs, .grid-5 .centerBlock-xs, .grid-6 .centerBlock-xs {
    grid-column: 6/12;
  }
}
@media (max-width: 819px) {
  .grid .centerBlock-sm, .grid-2 .centerBlock-sm, .grid-3 .centerBlock-sm, .grid-4 .centerBlock-sm, .grid-5 .centerBlock-sm, .grid-6 .centerBlock-sm {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .centerBlock-sm, .grid-2 .centerBlock-sm, .grid-3 .centerBlock-sm, .grid-4 .centerBlock-sm, .grid-5 .centerBlock-sm, .grid-6 .centerBlock-sm {
    grid-column: 5/13;
  }
}
@media (max-width: 819px) {
  .grid .centerBlock-md, .grid-2 .centerBlock-md, .grid-3 .centerBlock-md, .grid-4 .centerBlock-md, .grid-5 .centerBlock-md, .grid-6 .centerBlock-md {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .centerBlock-md, .grid-2 .centerBlock-md, .grid-3 .centerBlock-md, .grid-4 .centerBlock-md, .grid-5 .centerBlock-md, .grid-6 .centerBlock-md {
    grid-column: 4/14;
  }
}
@media (max-width: 819px) {
  .grid .centerBlock-lg, .grid-2 .centerBlock-lg, .grid-3 .centerBlock-lg, .grid-4 .centerBlock-lg, .grid-5 .centerBlock-lg, .grid-6 .centerBlock-lg {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .centerBlock-lg, .grid-2 .centerBlock-lg, .grid-3 .centerBlock-lg, .grid-4 .centerBlock-lg, .grid-5 .centerBlock-lg, .grid-6 .centerBlock-lg {
    grid-column: 3/15;
  }
}
@media (max-width: 819px) {
  .grid .centerBlock-xl, .grid-2 .centerBlock-xl, .grid-3 .centerBlock-xl, .grid-4 .centerBlock-xl, .grid-5 .centerBlock-xl, .grid-6 .centerBlock-xl {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .centerBlock-xl, .grid-2 .centerBlock-xl, .grid-3 .centerBlock-xl, .grid-4 .centerBlock-xl, .grid-5 .centerBlock-xl, .grid-6 .centerBlock-xl {
    grid-column: 2/16;
  }
}
@media (max-width: 819px) {
  .grid .leftBlock-xxs, .grid-2 .leftBlock-xxs, .grid-3 .leftBlock-xxs, .grid-4 .leftBlock-xxs, .grid-5 .leftBlock-xxs, .grid-6 .leftBlock-xxs {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .leftBlock-xxs, .grid-2 .leftBlock-xxs, .grid-3 .leftBlock-xxs, .grid-4 .leftBlock-xxs, .grid-5 .leftBlock-xxs, .grid-6 .leftBlock-xxs {
    grid-column: 2/6;
  }
}
@media (max-width: 819px) {
  .grid .leftBlock-xs, .grid-2 .leftBlock-xs, .grid-3 .leftBlock-xs, .grid-4 .leftBlock-xs, .grid-5 .leftBlock-xs, .grid-6 .leftBlock-xs {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .leftBlock-xs, .grid-2 .leftBlock-xs, .grid-3 .leftBlock-xs, .grid-4 .leftBlock-xs, .grid-5 .leftBlock-xs, .grid-6 .leftBlock-xs {
    grid-column: 2/8;
  }
}
@media (max-width: 819px) {
  .grid .leftBlock-sm, .grid-2 .leftBlock-sm, .grid-3 .leftBlock-sm, .grid-4 .leftBlock-sm, .grid-5 .leftBlock-sm, .grid-6 .leftBlock-sm {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .leftBlock-sm, .grid-2 .leftBlock-sm, .grid-3 .leftBlock-sm, .grid-4 .leftBlock-sm, .grid-5 .leftBlock-sm, .grid-6 .leftBlock-sm {
    grid-column: 2/10;
  }
}
@media (max-width: 819px) {
  .grid .leftBlock-md, .grid-2 .leftBlock-md, .grid-3 .leftBlock-md, .grid-4 .leftBlock-md, .grid-5 .leftBlock-md, .grid-6 .leftBlock-md {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .leftBlock-md, .grid-2 .leftBlock-md, .grid-3 .leftBlock-md, .grid-4 .leftBlock-md, .grid-5 .leftBlock-md, .grid-6 .leftBlock-md {
    grid-column: 2/12;
  }
}
@media (max-width: 819px) {
  .grid .leftBlock-lg, .grid-2 .leftBlock-lg, .grid-3 .leftBlock-lg, .grid-4 .leftBlock-lg, .grid-5 .leftBlock-lg, .grid-6 .leftBlock-lg {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .leftBlock-lg, .grid-2 .leftBlock-lg, .grid-3 .leftBlock-lg, .grid-4 .leftBlock-lg, .grid-5 .leftBlock-lg, .grid-6 .leftBlock-lg {
    grid-column: 2/14;
  }
}
@media (max-width: 819px) {
  .grid .leftBlock-xl, .grid-2 .leftBlock-xl, .grid-3 .leftBlock-xl, .grid-4 .leftBlock-xl, .grid-5 .leftBlock-xl, .grid-6 .leftBlock-xl {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .leftBlock-xl, .grid-2 .leftBlock-xl, .grid-3 .leftBlock-xl, .grid-4 .leftBlock-xl, .grid-5 .leftBlock-xl, .grid-6 .leftBlock-xl {
    grid-column: 2/16;
  }
}
@media (max-width: 819px) {
  .grid .rightBlock-xxs, .grid-2 .rightBlock-xxs, .grid-3 .rightBlock-xxs, .grid-4 .rightBlock-xxs, .grid-5 .rightBlock-xxs, .grid-6 .rightBlock-xxs {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .rightBlock-xxs, .grid-2 .rightBlock-xxs, .grid-3 .rightBlock-xxs, .grid-4 .rightBlock-xxs, .grid-5 .rightBlock-xxs, .grid-6 .rightBlock-xxs {
    grid-column: 12/16;
  }
}
@media (max-width: 819px) {
  .grid .rightBlock-xs, .grid-2 .rightBlock-xs, .grid-3 .rightBlock-xs, .grid-4 .rightBlock-xs, .grid-5 .rightBlock-xs, .grid-6 .rightBlock-xs {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .rightBlock-xs, .grid-2 .rightBlock-xs, .grid-3 .rightBlock-xs, .grid-4 .rightBlock-xs, .grid-5 .rightBlock-xs, .grid-6 .rightBlock-xs {
    grid-column: 10/16;
  }
}
@media (max-width: 819px) {
  .grid .rightBlock-sm, .grid-2 .rightBlock-sm, .grid-3 .rightBlock-sm, .grid-4 .rightBlock-sm, .grid-5 .rightBlock-sm, .grid-6 .rightBlock-sm {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .rightBlock-sm, .grid-2 .rightBlock-sm, .grid-3 .rightBlock-sm, .grid-4 .rightBlock-sm, .grid-5 .rightBlock-sm, .grid-6 .rightBlock-sm {
    grid-column: 8/16;
  }
}
@media (max-width: 819px) {
  .grid .rightBlock-md, .grid-2 .rightBlock-md, .grid-3 .rightBlock-md, .grid-4 .rightBlock-md, .grid-5 .rightBlock-md, .grid-6 .rightBlock-md {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .rightBlock-md, .grid-2 .rightBlock-md, .grid-3 .rightBlock-md, .grid-4 .rightBlock-md, .grid-5 .rightBlock-md, .grid-6 .rightBlock-md {
    grid-column: 6/16;
  }
}
@media (max-width: 819px) {
  .grid .rightBlock-lg, .grid-2 .rightBlock-lg, .grid-3 .rightBlock-lg, .grid-4 .rightBlock-lg, .grid-5 .rightBlock-lg, .grid-6 .rightBlock-lg {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .rightBlock-lg, .grid-2 .rightBlock-lg, .grid-3 .rightBlock-lg, .grid-4 .rightBlock-lg, .grid-5 .rightBlock-lg, .grid-6 .rightBlock-lg {
    grid-column: 4/16;
  }
}
@media (max-width: 819px) {
  .grid .rightBlock-xl, .grid-2 .rightBlock-xl, .grid-3 .rightBlock-xl, .grid-4 .rightBlock-xl, .grid-5 .rightBlock-xl, .grid-6 .rightBlock-xl {
    grid-column: 1/17;
  }
}
@media (min-width: 820px) {
  .grid .rightBlock-xl, .grid-2 .rightBlock-xl, .grid-3 .rightBlock-xl, .grid-4 .rightBlock-xl, .grid-5 .rightBlock-xl, .grid-6 .rightBlock-xl {
    grid-column: 2/16;
  }
}

.centerContent {
  text-align: center;
}

.leftContent {
  text-align: left;
}
@media (max-width: 819px) {
  .leftContent {
    text-align: center;
  }
}

.rightContent {
  text-align: right;
}
@media (max-width: 819px) {
  .rightContent {
    text-align: center;
  }
}

.header.open {
  display: block;
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#181e23, transparent);
  z-index: 10001;
}
.header nav {
  color: #181e23;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  z-index: 10005;
}
.header nav .nav-wrapper {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .header nav .nav-wrapper {
    max-width: 550px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header nav .nav-wrapper {
    max-width: 575px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header nav .nav-wrapper {
    max-width: 768px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header nav .nav-wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .header nav .nav-wrapper {
    max-width: 1200px;
  }
}
.header nav a {
  opacity: 80%;
}
.header nav a:hover {
  opacity: 100%;
}
.header .firstBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .firstBlock .header__logo {
  transition: 0.6s;
  height: 2.5rem;
}
.header .firstBlock .header__logo img {
  height: 100%;
}
.header .firstBlock .divider {
  width: 2px;
  height: 2rem;
  background: #ffd100;
  margin: 0 1.5rem;
}
@media (max-width: 900px) {
  .header .firstBlock .divider {
    margin: 0 0.5rem;
  }
}
.header .header__links {
  display: flex;
  flex-direction: row;
}
@media (max-width: 819px) {
  .header .header__links {
    display: none;
  }
}
@media (min-width: 820px) {
  .header .header__links {
    display: flex;
  }
}
.header .header__links a, .header .header__links p, .header .header__links span {
  font-size: 1em;
  transition: 0.3s;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
}
.header .header__links a.menu {
  font-weight: bold;
  margin-right: 0;
}
.header .header__links .burguer {
  margin-left: 0;
  display: flex;
  flex-direction: column;
}
.header .header__links .burguer span {
  margin-top: auto;
  margin-bottom: auto;
  height: 5px;
  background: #ffd100;
  transition: all 200ms ease-in-out;
  transform-origin: 3px 1px;
}
.header .header__links .burguer span:not(:last-child) {
  margin-bottom: 0.01rem;
}
.header .header__links .burguer .span1 {
  width: 32px;
}
.header .header__links .burguer .span2 {
  width: 26px;
}
.header .header__links .socialIcons a {
  margin: 0 0;
}
@media (max-width: 819px) {
  .header .header__toggle {
    display: block;
  }
}
@media (min-width: 820px) {
  .header .header__toggle {
    display: none;
  }
}
.header .header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background: #181e23;
  transition: all 200ms ease-in-out;
  transform-origin: 3px 1px;
}
.header .header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header .sticky {
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .sticky .header__logo {
  visibility: visible;
  height: 1.5em;
}
.header .sticky .header__logo img {
  height: 100%;
}
.header .sticky a {
  opacity: 100%;
}
.header__menu {
  background-color: #FCFCFC;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: absolute;
  border-radius: 5px;
  top: 6.5rem;
  right: 2rem;
  left: 2rem;
  z-index: 10005;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #181e23;
  text-align: center;
}
.header__menu a:hover {
  background: #ffd100;
}

.navbar-container {
  padding-left: 20px;
  padding-right: 20px;
}

section#masthead {
  background: url("../img/bg/masthead.jpg") !important;
  background-size: cover !important;
  height: 100vh;
  min-height: 619px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
}
section#masthead form {
  margin-bottom: 2rem;
}
section#masthead form .input-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section#masthead form .input-wrapper input {
  border: 0;
  width: 100%;
  height: 2rem;
  padding: 1.2rem 1rem;
  max-width: 90vw;
  font-size: 0.8em;
  color: #181e23;
  font-weight: bold;
}
section#masthead form .input-wrapper span.icon {
  background: #181e23;
  color: #fff;
  padding: 10px;
  min-width: 50px;
  text-align: center;
}
@media (max-width: 574px) {
  section#masthead img.logo {
    width: 50vw;
  }
}
@media (min-width: 575px) and (max-width: 899px) {
  section#masthead img.logo {
    width: 40vw;
  }
}
@media (min-width: 900px) {
  section#masthead img.logo {
    width: 25vw;
  }
}
section#masthead h1.logo {
  text-transform: none;
  color: #181e23;
  text-align: center;
  font-size: 3.815em;
}
section#masthead .brand-descrip {
  text-align: center;
  margin-top: 0.6rem;
  font-size: 1.563em;
  margin-top: 0;
}
section#masthead .btn-wrapper {
  text-align: center;
}
section#masthead .arrow {
  font-size: 1.6em;
  margin-top: 1em;
  color: #ffd100;
}

section.categories {
  padding: 2rem 3rem;
}
section.categories .container .img-grid-1 {
  grid-template-columns: 32% repeat(3, 1fr);
}
section.categories .container .img-grid-2 {
  grid-template-columns: repeat(3, 1fr) 32%;
}
section.categories .container .img-grid-1, section.categories .container .img-grid-2 {
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 100%;
  background: #eaeaea;
  margin-top: 1rem;
  display: grid;
  grid-auto-rows: 1fr;
  gap: 0.5rem;
}
section.categories .container .img-grid-1 .subgrid-type-a, section.categories .container .img-grid-2 .subgrid-type-a {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0.5rem;
}
section.categories .container .img-grid-1 .subgrid-type-b, section.categories .container .img-grid-2 .subgrid-type-b {
  display: grid;
  grid-template-rows: 60% 1fr;
  grid-auto-columns: 1fr;
  gap: 0.5rem;
}
section.categories .container .img-grid-1 .subgrid-type-c, section.categories .container .img-grid-2 .subgrid-type-c {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  gap: 0.5rem;
}
section.categories .container .img-grid-1 .item, section.categories .container .img-grid-1 .subitem, section.categories .container .img-grid-2 .item, section.categories .container .img-grid-2 .subitem {
  height: 100%;
}
section.categories .container .img-grid-1 .element, section.categories .container .img-grid-2 .element {
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: space-between;
  padding: 1.5rem 0;
  overflow: hidden;
}
section.categories .container .img-grid-1 .element p, section.categories .container .img-grid-2 .element p {
  display: inline;
  font-size: 1em;
}
section.categories .container .img-grid-1 .tag-dark, section.categories .container .img-grid-2 .tag-dark {
  background: #181e23;
  color: #fff;
  width: fit-content;
  padding: 0.3rem 1rem;
  font-size: 0.8em;
}
section.categories .container .img-grid-1 .tag-primary, section.categories .container .img-grid-2 .tag-primary {
  background: #ffd100;
  color: #181e23;
  width: fit-content;
  padding: 0.3rem 1rem;
  font-size: 0.8em;
}
section.categories .container .img-grid-1 .tag-empty, section.categories .container .img-grid-2 .tag-empty {
  background: #ffd100;
  padding: 0.2rem 1.2rem;
  width: 3rem;
}
section.categories .container .img-grid-1 .tag-vertical, section.categories .container .img-grid-2 .tag-vertical {
  color: #fff;
  font-weight: bold;
  font-size: 3.052em;
  width: fit-content;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 7rem;
  right: -4.5rem;
}
section.categories .container .img-grid-1 .element, section.categories .container .img-grid-2 .element {
  background-size: cover !important;
}
section.categories .container .img-grid-1 .bariloche, section.categories .container .img-grid-2 .bariloche {
  background: url("../img/misc/main/bariloche.jpg");
}
section.categories .container .img-grid-1 .cordoba, section.categories .container .img-grid-2 .cordoba {
  background: url("../img/misc/main/cordoba.jpg");
}
section.categories .container .img-grid-1 .elcalafate, section.categories .container .img-grid-2 .elcalafate {
  background: url("../img/misc/main/el-calafate.jpg");
}
section.categories .container .img-grid-1 .buenosaires, section.categories .container .img-grid-2 .buenosaires {
  background: url("../img/misc/main/buenos-aires.jpg");
}
section.categories .container .img-grid-1 .jujuy, section.categories .container .img-grid-2 .jujuy {
  background: url("../img/misc/main/jujuy.jpg");
}
section.categories .container .img-grid-1 .puertoiguazu, section.categories .container .img-grid-2 .puertoiguazu {
  background: url("../img/misc/main/puerto-iguazu.jpg");
}
section.categories .container .img-grid-1 .rosario, section.categories .container .img-grid-2 .rosario {
  background: url("../img/misc/main/rosario.jpg");
}
section.categories .container .img-grid-1 .salta, section.categories .container .img-grid-2 .salta {
  background: url("../img/misc/main/salta.jpg");
}
section.categories .container .img-grid-1 .sanluis, section.categories .container .img-grid-2 .sanluis {
  background: url("../img/misc/main/san-luis.jpg");
}
section.categories .container .img-grid-1 .tucuman, section.categories .container .img-grid-2 .tucuman {
  background: url("../img/misc/main/tucuman.jpg");
}
section.categories .container .img-grid-1 .trelew, section.categories .container .img-grid-2 .trelew {
  background: url("../img/misc/main/trelew.jpg");
}
section.categories .container .img-grid-1 .ushuaia, section.categories .container .img-grid-2 .ushuaia {
  background: url("../img/misc/main/ushuaia.jpg");
}
section.categories .container .img-grid-1 .sanmartindelosandes, section.categories .container .img-grid-2 .sanmartindelosandes {
  background: url("../img/misc/main/san-martin-de-los-andes.jpg");
}
section.categories .container .img-grid-1 .villalaangostura, section.categories .container .img-grid-2 .villalaangostura {
  background: url("../img/misc/main/villa-la-angostura.jpg");
}
section.categories .container .img-grid-1 .entrerios, section.categories .container .img-grid-2 .entrerios {
  background: url("../img/misc/main/entre-rios.jpg");
}
section.categories .container .img-grid-1 .neuquen, section.categories .container .img-grid-2 .neuquen {
  background: url("../img/misc/main/neuquen.jpg");
}

section.footer {
  font-size: 0.7rem;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: black;
  color: #FCFCFC;
}
section.footer .wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}
section.footer .logo-wrapper {
  display: flex;
  justify-content: center;
}
@media (max-width: 850px) {
  section.footer .logo-wrapper {
    grid-column: 1/17;
    text-align: center;
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  section.footer .logo-wrapper {
    grid-column: 2/14;
    text-align: center;
  }
}
@media (min-width: 851px) {
  section.footer .logo-wrapper {
    grid-column: 3/8;
  }
}
section.footer .logo-wrapper img {
  align-self: flex-start;
  width: 80%;
}
section.footer .text {
  display: flex;
  flex-direction: column;
}
@media (max-width: 850px) {
  section.footer .text {
    grid-column: 1/17;
  }
}
@media (min-width: 851px) {
  section.footer .text {
    grid-column: 8/17;
    display: flex;
    justify-content: center;
  }
}
section.footer .text .link-wrapper {
  display: inline-flex;
  margin-bottom: 0.3rem;
  width: 100%;
}
section.footer .text .link-wrapper a {
  display: inline-flex;
  font-weight: inherit;
}
section.footer .text .link-wrapper img {
  margin-right: 0.3rem;
  width: 1.1rem;
}
section.footer .text .link-wrapper img.instagram {
  opacity: 70%;
}

section.post-footer {
  font-size: 0.7rem;
  margin: 0;
  padding: 10px;
  background: black;
  color: #FCFCFC;
}
section.post-footer p {
  text-align: center;
  font-size: 0.7rem;
}