section.categories
    padding: 2rem 3rem
    // display: flex
    // flex-direction: column
    .container
        .img-grid
            display: flex
            justify-content: center
            align-items: center
            height: 15rem
            width: 100%
            background: #ddd
            margin-top: 1rem
            // &-1
            //     background: #ddd
            //     // width: 100%

            // &-2
            //     background: #adf
            //     // width: 100%