section.categories
    padding: 2rem 3rem
    .container
        .img-grid-1
            grid-template-columns: 32% repeat(3, 1fr)

        .img-grid-2
            grid-template-columns: repeat(3, 1fr) 32%

        .img-grid-1, .img-grid-2
            display: flex
            justify-content: center
            align-items: center
            height: 28rem
            width: 100%
            background: #eaeaea
            margin-top: 1rem
            display: grid
            grid-auto-rows: 1fr
            gap: 0.5rem
            .item
                background: pink
                height: 100%

                &-large
                    background: cyan