section.categories
    .categories-grid
        display: grid
        width: 100%
        margin-top: 0.5rem
        grid-auto-rows: 1fr
        gap: 0.3rem
        grid-template-columns: repeat(5, 1fr)
        @media ( max-width: 600px )
            grid-template-columns: 1fr

        .block
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding: 3rem 1rem
            img
                width: 6rem
                max-width: 90%
            p
                color: $theme-soft
                font-size: $fz-2
                font-weight: bold
                text-transform: uppercase
                margin-top: 2rem
                text-align: center
                word-wrap: break-word!important
                @media  ( max-width: 900px )
                    font-size: $fz-1        
            
        .servicios
            background: $theme-green
        .alquilerdeequipos
            background: $theme-cyan
        .hoteles
            background: $theme-orange
        .restaurantes
            background: $theme-red
        .entretenimientos
            background: $theme-magenta

