section.footer
    background: $theme-dark
    color: $theme-soft
    font-size: $fz-0
    padding: 3rem 1rem 5rem 1rem
    .rows-container
        display: flex
        flex-direction: column
        .row
            line-height: 1.2rem
        .row-1
            display: flex
            flex-direction: row
            @media ( max-width: 870px  )
                flex-direction: column
                .block-1, .block-2
                    width: 100%!important
                    
            .block-1
                // background: lighten($theme-dark, 5%)
                width: 50%
                padding: 1rem 1rem 0 0
                p
                    font-size: $fz-2
                .logos
                    margin-bottom: 0.5rem
                    img
                        margin: 0 0.5rem
                    .mainLogo
                        transform: translateY(6%) // ad-hoc
                @media  ( max-width: 870px  )
                    padding: 3rem 0
                    display: flex
                    flex-direction: column
                    justify-content: center
                    text-align: center
                    p
                        max-width: 60ch
                        margin-left: auto
                        margin-right: auto

            .block-2
                padding-top: 0.5rem
                width: 50%
                display: grid
                grid-template-columns: repeat(3, 1fr)
                @media  ( max-width: 870px  )
                    padding: 1rem 0
                .sub-block-1
                    // background: lighten($theme-dark, 10%)                    
                .sub-block-2
                    // background: lighten($theme-dark, 5%)
                .sub-block-3
                    // background: lighten($theme-dark, 10%)
                    p
                        font-size: $fz-2
                    .subtitle
                        margin-top: 0.5rem
                p.title, p.subtitle
                    font-weight: bold
                hr
                    width: 90%
                    margin: 0.5rem 0
                    opacity: 50%
                ul
                    text-align: left
                    list-style: none
                    font-size: inherit
                    margin-left: 0
                    margin-bottom: 0.5rem
                    li
                        font-size: $fz-2

        .row-2
            // background: lighten($theme-dark, 20%)
            margin-top: 1.5rem
            display: flex
            justify-content: space-between
            flex-direction: row
            @media ( max-width: 870px  )
                flex-direction: column

            .left
                display: flex
                flex-direction: row
                @media ( max-width: 870px  )
                    justify-content: center
                    margin-bottom: 0.8rem
                .social
                    display: flex
                    flex-direction: row
                    .icon
                        color: $theme-dark
                        background: $theme-soft
                        padding:0.5rem
                        width: 1.5rem
                        height: 1.5rem
                        display: flex
                        -moz-border-radius: 60px
                        -webkit-border-radius: 60px
                        border-radius: 60px
                        margin-left: 0.2rem
                        margin-left: 0.2rem
                        
                            

                .country
                    padding: 0 1rem
                    a
                        font-weight: normal
                        font-size: $fz-2
            .right
                p
                    font-size: $fz-2
    