section#masthead
    // background-color: red
    background: url("../img/bg/masthead.jpg") !important
    background-size: cover!important
    height: 100vh
    min-height: 619px
    display: flex
    justify-content: center /* align horizontal */
    align-items: center /* align vertical */
    flex-direction: column
    margin-top: 0
    @media(max-width: 818px)
        margin-top: 46px

    img.logo
        @media(max-width: 574px)
            width: 50vw
        @media(min-width: 575px) and (max-width: 899px)
            width: 40vw
        @media(min-width: 900px)
            width: 25vw
    h1.logo
        text-transform: none
        color: $theme-primary
        text-align: center
    .brand-descrip
        text-align: center
        margin-top: 0.6rem
    
    .arrow
        font-size: 1.6em
        margin-top: 1em
        color: $theme-primary

