// Project colors

$theme-primary: #ffd100
$theme-primary-lighten: lighten($theme-primary, 10% )

$theme-secondary: black // unset
$theme-secondary-lighten: lighten($theme-secondary, 10% )


$theme-accent: $theme-primary

$theme-soft: #FCFCFC 
$theme-dark: #000 
$white: #fff

$theme-green: #a3ba29
$theme-cyan: #00bed3
$theme-orange: #f9ae00
$theme-red: #f24335
$theme-magenta: #e81f63


// font sizes
$fz-0: 0.64em // 10.24px
$fz-0-5: 0.71em // 11.5px
$fz-1: 0.8em // 12.80px
$fz-2: 1em // 16px
$fz-3: 1.25em // 20.00px - (p)
$fz-4: 1.563em // 25.00px
$fz-5: 1.953em // 31.25px
$fz-6: 2.441em // 39.06p - (h2)
$fz-7: 3.052em // 48.83px 
$fz-8: 3.815em // 61.04px
$fz-9: 4.768em // 76.29px
$fz-10: 5.96em // 95.37px
$fz-11: 7.451em // 119.21px
$fz-12: 9.313em // 149.01px

